* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0;

}

h1{
    font-size: 50px;
    text-align: center;
    color: white;
    
}
body{
    background: url(img/Fondo.jpg) ;
    background-size: 100%;
  
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
    color: white;
    
    
}
a input{
    background:black;
    color: white;
    border-radius: 20px;
    padding: 5px;
    font-size: 30px;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 60px;



}

div{
    background: white;
    border-radius: 20px;
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px
}
div p{
   color:black;
   
   background-repeat: no-repeat;
   background-size: 40%;


}
h2{
    color: lightblue;
    
    margin-top: 20px;
    margin-left: 420px;
}
#img1{
    margin-left: 20px;
    padding: 0px, 30px ;
}
#img2{
    margin-left: 40px;
    padding: 0px, 30px ;
}
#img3{
    margin-left: 60px;
    padding: 0px, 30px ;
}

section{
    align-items: center;
  
    margin-left: 400px;
    margin-right: 400px;
}



